@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
body{
    font-family: 'Lexend', sans-serif;
}

.gradient{
    background: rgb(246,255,129);
    background: linear-gradient(215deg, rgba(246,255,129,1) 46%, rgba(98,174,158,1) 100%);
}

.gradient2{
    background: rgb(232,250,227);
    background: linear-gradient(225deg, rgba(232,250,227,1) 24%, rgba(255,233,212,1) 72%);
}

.scrollbar::-webkit-scrollbar-track
{
	/* border: 1px solid #d8e2e1; */
  padding: 2px;
	background-color: white;
  border-radius: 10px;

}
.scrollbar::-webkit-scrollbar
{
	width: 5px;
	/* background-color: blueviolet; */
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb
{
	background: rgb(246,255,129);
  background: rgb(232,250,227);
  background: linear-gradient(225deg, rgba(232,250,227,1) 24%, rgba(255,233,212,1) 72%);
  border-radius: 10px;
}